@font-face {
	font-family: "Poppins-Light";
	src: url("../../assets/fonts/poppins/Poppins-Light.ttf");
}
@font-face {
	font-family: "Poppins-Regular";
	src: url("../../assets/fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
	font-family: "Poppins-Medium";
	src: url("../../assets/fonts/poppins/Poppins-Medium.ttf");
}
@font-face {
	font-family: "Poppins-SemiBold";
	src: url("../../assets/fonts/poppins/Poppins-SemiBold.ttf");
}
@font-face {
	font-family: "Poppins-Bold";
	src: url("../../assets/fonts/poppins/Poppins-Bold.ttf");
}

body{
	margin:0;
	font-family: "Poppins-Regular";
	font-size: 14px;
	color: #555555;
}


/* ================================ Config ================================ */
.clearer{
	clear: both;
	width: 100%;
	display: block;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left: 10px !Important;
	padding-right: 10px !Important;
}
.padding-default{
	padding: 0px 16px;
}
.box-info{
	width: auto; margin-top: 8px; margin-bottom: 8px;
}
.box-info .left-info{
	width: 40%; height: auto; position: relative; float: left;
	text-align: right;
	color: #ddd;
}
.box-info .right-info{
	width: 58%; height: auto; position: relative; float: right;
	padding-left: 2%;
	font-family: 'Poppins-SemiBold';
}

/* ================================ Table ================================ */
.box-table{
	width: 100%;
	height: 85%;
	position: absolute;
}
.box-table .display-table{
	display: table;
	width: 100%;
	height: 85%;
}
.box-table .display-table .display-table-cell{
	display: table-cell;
	vertical-align: middle;
}

/* ================================ Color ================================ */
.bg-black{
	background-color: #010101;
}

/* ================================ Content ================================ */
.box-wrapper{
	width: auto;
	margin: 20px;
}
.box-content{
	width: 100%; 
	height: 440px;
	overflow: auto;
	background-color: #222222;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	position: relative;
	color: #f5f6f8;
	border:1px solid #5a5a5a;
	z-index: 1;
}
.box-content h3{
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #f5f6f8;
	padding: 16px;
	line-height: normal;
	font-family: 'Poppins-Bold';
}
.box-content h3 a{
	color: #f5f6f8;
}
.box-content h3 a:hover{
	color: #0e5fa7;
}
.box-content h3 i{
	margin-right: 8px;
	cursor: pointer;
}
.box-content h3 i:hover{
	color: #0e5fa7;
}
ul.ul-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
ul.ul-list li{
	border-bottom: 1px solid #5a5a5a;
}
ul.ul-list li a {
	display: block;
	color: #ddd;
	padding: 8px 16px;
	text-decoration: none;
}
ul.ul-list li a:hover {
	background-color: #0e5fa7;
}
ul.ul-list li a.active {
	background-color: #0e5fa7;
	color: #ffffff;
}
ul.ul-list li a:hover:not(.active) {
	background-color: #555;
	color: #ffffff;
}
ul.ul-list-alt {
	list-style-type: number;
	margin: 0;
	width: 100%;
	position: relative;
	padding-left: 32px;
}
ul.ul-list-alt li{
	width: auto;
	color: #ddd;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 16px;
}
ul.ul-list-alt li a {
	display: block;
	color: #ddd;
	text-decoration: none;
}
ul.ul-list-alt li a:hover {
	color: #ffffff;
}
.box-iframe{
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 75%;
}
.box-iframe iframe{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border:0;
}

.box-value{
	width: auto; text-align: center;
}
.box-value h1{
	font-size: 48px;
	color: #db0d0c;
}


/* ================================ Chart ================================ */
@-webkit-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}

#bar-chart {
	height: auto;
	width: 70%;
	position: relative;
	margin: 50px auto 0;
}
#bar-chart * {
	box-sizing: border-box;
}
#bar-chart .graph {
	height: 283px;
	position: relative;
}
#bar-chart .bars {
	height: 253px;
	padding: 0 2%;
	position: absolute;
	width: 100%;
	z-index: 10;
}
#bar-chart .bar-group {
	display: block;
	float: left;
	height: 100%;
	position: relative;
	width: 12%;
	margin-right: 10%;
}
#bar-chart .bar-group:last-child {
	margin-right: 0;
}
#bar-chart .bar-group .bar {
	visibility: hidden;
	height: 0;
	-webkit-animation: animate-height;
	-moz-animation: animate-height;
	animation: animate-height;
	animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
	-webkit-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
	-moz-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
	animation-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	-moz-animation-duration: 0.4s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	box-shadow: 1px 0 2px rgba(0, 0, 0, 0.15);
	
	border-radius: 3px 3px 0 0;
	bottom: 0;
	cursor: pointer;
	height: 0;
	position: absolute;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
#bar-chart .bar-group .bar:nth-child(2) {
	left: 35%;
}
#bar-chart .bar-group .bar:nth-child(3) {
	left: 70%;
}
#bar-chart .bar-group .bar span {
	display: none;
}
#bar-chart .bar-group .bar-1 {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
#bar-chart .bar-group .bar-2 {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
#bar-chart .bar-group .bar-3 {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
#bar-chart .bar-group .bar-4 {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}
#bar-chart .bar-group .bar-5 {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
#bar-chart .bar-group .bar-6 {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}
#bar-chart .bar-group .bar-7 {
	animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
}
#bar-chart .bar-group .bar-8 {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
#bar-chart .bar-group .bar-9 {
	animation-delay: 1.1s;
	-webkit-animation-delay: 1.1s;
}
#bar-chart .bar-group .bar-10 {
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}
#bar-chart .bar-group .bar-11 {
	animation-delay: 1.3s;
	-webkit-animation-delay: 1.3s;
}
#bar-chart .bar-group .bar-12 {
	animation-delay: 1.4s;
	-webkit-animation-delay: 1.4s;
}
#bar-chart .bar-group .bar-13 {
	animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
}
#bar-chart .bar-group .bar-14 {
	animation-delay: 1.6s;
	-webkit-animation-delay: 1.6s;
}
#bar-chart .bar-group .bar-15 {
	animation-delay: 1.7s;
	-webkit-animation-delay: 1.7s;
}
#bar-chart ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#bar-chart .x-axis {
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
#bar-chart .x-axis li {
	float: left;
	margin-right: 10.5%;
	font-size: 10px;
	width: 11.5%;
	text-align: center;
}
#bar-chart .x-axis li:last-child {
	margin-right: 0;
}
#bar-chart .y-axis {
	position: absolute;
	text-align: right;
	width: 100%;
}
#bar-chart .y-axis li {
	border-top: 1px solid #4e5464;
	display: block;
	height: 63.25px;
	width: 100%;
}
#bar-chart .y-axis li span {
	display: block;
	font-size: 11px;
	margin: -10px 0 0 -45px;
	padding: 0 10px;
	width: 40px;
}
#bar-chart .stat-1 {
	background-color: #65211e;
	border: 1px solid #912728;
}
#bar-chart .stat-2 {
	background-color: #644a23;
	border:1px solid #d6ab62;
}
#bar-chart .stat-3 {
	background-color: #285364;
	border:1px solid #377a97;
}

/* ================================ Gis ================================ */
.esri-view-width-xsmall .esri-expand--auto .esri-expand__mask--expanded{
	z-index: 50 !important;
}
.esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded{
	z-index: 100 !important;
}

@media (max-width: 767px) {
	
	.box-content{
		height: auto;
		overflow: unset;
	}

	.box-content .box-table{
		position: relative;
		height: auto;
	}
	.box-value h1{
		font-size: 32px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	/* ================================ Chart ================================ */
	#bar-chart{
		margin-bottom: 20px;
	}

}